@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Spaced';
  font-style: normal;
  font-weight: normal;
  src: local('Spaced'), url('../public/fonts/SpacedTTF.ttf') format('truetype');
}
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: normal;
  src: local('Spartan'), url('../public/fonts/Spartan.ttf') format('truetype');
}
.spaced {
  font-family: 'Spaced', serif;
}
body{
  font-family: 'Spartan', serif;
  overflow-x: hidden;
}

